.loader_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center ;
  align-items: center;
}
.loading_span {
  margin-left: 10px;
  color: #64dafb
}

.loader{
  width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader infinite 5s linear;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}